<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280676235111-1i9k3m7b9gvkbkvvuo36v22qitdr6sob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280676235111-1i9k3m7b9gvkbkvvuo36v22qitdr6sob</string>
	<key>API_KEY</key>
	<string>AIzaSyBjQ4b5n6SE0EIRFCIwZlmyEtAQaeKlmyc</string>
	<key>GCM_SENDER_ID</key>
	<string>280676235111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterSocial</string>
	<key>PROJECT_ID</key>
	<string>fluttersocial-64979</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttersocial-64979.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280676235111:ios:9fe42179317f42f37121c2</string>
</dict>
</plist>